<div class="grid grid-rows-layout min-h-screen">
    <header class="p-5 bg-black flex justify-center">
        <hgroup class="flex gap-5">
            <img src="../../../images/popcorn-svgrepo-com.svg" width="50" height="50" alt="logo">
            <h1 class="mx-auto max-w-4xl font-display text-4xl font-medium tracking-tight text-slate-50 sm:text-5xl">MovieMingle</h1>
        </hgroup>
    </header>

    <main>
        <div class="bg-workspace bg-cover">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-12 text-center lg:pt-32">
                <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-50 sm:text-6xl">
                    Let's start enjoying watching your favorite movies with MovieMingle   
                </h1>
            </div>
            <div class="gap-1 flex-col flex mx-auto max-w-xl px-4 sm:px-5 lg:px-20 pb-28  text-center lg:pt-32">
                <route-button caption="Sign In" class-name="block w-full"></route-button>
                <route-button caption="Sign Up" class-name="block w-full"></route-button>
            </div>
        </div>
        
    </main>
</div>