<ui-loader loading="{{ isLoading }}" class-name="z-10 bg-white"></ui-loader>
<div>
    <app-router>
        <app-route path="/" title="Home page" component="home-page"></app-route>
        <app-route path="/404" title="404 | Not found" component="not-found"></app-route>
        <app-outlet></app-outlet>
    </app-router>
</div>

<ui-toast></ui-toast>
<ui-modal></ui-modal>